:root {
    font-family: monospace;
    background-color: floralwhite;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
    height: 100vh;
    width: 100vw;
}

.title {
    font-size: 3.5em;
    border-bottom: 2px solid black;
    padding: 20px;
}


.search {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.search-bar {
    padding: 5px 10px;
    height: 35px;
    width: 200px;
    background: floralwhite;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
}

.search-bar:focus {
    outline: none;
}

.buttons {
    height: 35px;
    padding: 5px 15px;
    cursor: pointer;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 25px;
    margin: 10px;
}

.buttons:hover {
    background-color: lightcoral;
}

.buttons:focus {
    outline: none;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;
    height: 180px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 10px;
    background: linear-gradient(-135deg, peachpuff, salmon);
    transition: all 200ms;
    position: relative;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0px 2px 8px 0px rgba(41, 41, 41, 0.4);
}

.card-title {
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 0px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-weight: medium;
    padding: 5px 0px;
}

.card-close {
    cursor: pointer;
    font-size: 1.25em;
    position: absolute;
    top: 5%;
    right: 4%;
}

.card-read {
    cursor: pointer;
    padding: 5px 10px;
    width: fit-content;
    align-self: flex-end;
    border: 1px solid black;
    border-radius: 15px;
}

.card-read:hover {
    background-color: salmon;
}

.add-button {
    width: 60px;
    height: 60px;
    cursor: pointer;

    position: fixed;
    bottom: 5%;
    right: 3%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3em;
    color: white;
    background: linear-gradient(45deg, salmon, lightsalmon);
    box-shadow: 0px 4px 12px 0px rgba(41, 41, 41, 0.4);
    border-radius: 50%;
    transition: all 300ms;
}

.add-button:hover {
    transform: rotate(90deg);
}

.modal {
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(41, 41, 41, 0.3);
    animation-name: fadeIn;
    animation-duration: 400ms;
    position: fixed;
    left: 0;
    top: 0;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.modal-content {
    width: 100%;
    padding: 20px;

    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    animation-name: slideIn;
    animation-duration: 400ms;
}

@keyframes slideIn {
    0% { bottom: -600px; opacity: 0; }
    100% { bottom: 0px; opacity: 1; }
}

.modal-header {
    font-size: 2em;
    border-bottom: 2px solid black;
    padding: 20px 0px;
}

.modal-body {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-input {
    padding: 10px;
    margin: 10px 0px;
    font-size: 1.25em;
    border: 2px solid dimgrey;
    border-radius: 10px;
}

.modal-input:focus {
    outline: none;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.modal-footer #modal-confirm:hover {
    background-color: darkseagreen;
}

.modal-footer #modal-cancel:hover {
    background-color: salmon;
}